<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">Employee App</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" *ngIf="!service.loggedIn()" routerLink="/registar"
                routerLinkActive="active">Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!service.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" *ngIf="service.loggedIn()" 
            (click)="service.logoutUser()"
                routerLinkActive="active">Logout</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                View Detailes
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" *ngIf="service.loggedIn()" routerLink="/employee"
                    routerLinkActive="active">Employees List</a>
                <a class="dropdown-item" *ngIf="service.loggedIn()" routerLink="/depart"
                    routerLinkActive="active">Departments List</a>

            </div>
        </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
    </form> -->

</nav>